<!-- main header -->
<header class="main-header">
  <!-- header-lower -->
  <div class="header-lower">
    <div class="outer-box">
      <div class="logo-box">
        <figure class="logo">
          <a href="/index.html"
            ><img src="/assets/images/logo.webp" alt=""
          /></a>
        </figure>
      </div>
      <div class="menu-area clearfix menu-center" style="padding-right: 5%">
        <!--Mobile Navigation Toggler-->
        <div class="mobile-nav-toggler">
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
        </div>
        <nav class="main-menu navbar-expand-md navbar-light">
          <div
            class="collapse navbar-collapse show clearfix"
            id="navbarSupportedContent"
          >
            <ul class="navigation clearfix" style="white-space: nowrap">
              <li class="dropdown">
                <a href="/about/about.html">Our Story</a>
                <ul>
                  <li>
                    <a href="/about/about.html#company-overview"
                      >Company Overview</a
                    >
                  </li>
                  <li>
                    <a href="/about/about.html#our-expertise">Our Expertise</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/services/service.html">Services</a>
                <ul>
                  <li>
                    <a href="/services/core-banking.html"
                      >Core Banking Transformation</a
                    >
                  </li>
                  <li>
                    <a href="/services/digital-transformation.html"
                      >Digital Transformation</a
                    >
                  </li>
                  <li>
                    <a href="/services/application-development.html"
                      >Application Development</a
                    >
                  </li>
                  <li>
                    <a href="/services/infrastructure-management.html"
                      >Application & Infrastructure Management</a
                    >
                  </li>
                  <li>
                    <a href="/services/elite-it-resources.html"
                      >Elite IT Resources</a
                    >
                  </li>
                  <li>
                    <a href="/services/testing-services.html"
                      >Testing Services</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/index.html#products">Products</a>
                <ul>
                  <li><a href="/products/omnichannel.html">Omni Channel</a></li>
                  <li><a href="/products/payment-hub.html">Payment Hub</a></li>
                  <li><a href="/products/scf.html">Supply Chain Finance</a></li>
                  <li>
                    <a href="/products/los.html">Loan Origination System</a>
                  </li>
                  <li><a href="/products/va.html">Virtual Account</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/ai/ai-solutions.html">AI</a>
                <ul>
                  <li><a href="/ai/ai-solutions.html">AI Solutions</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/under-construction.html">Career</a>
                <ul>
                  <li><a href="/under-construction.html">Open Positions</a></li>
                  <li>
                    <a href="/under-construction.html">Life at Company</a>
                  </li>
                </ul>
              </li>
              <li><a href="/under-construction.html">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <!--sticky Header-->
  <div class="sticky-header">
    <div class="outer-box">
      <div class="logo-box">
        <figure class="logo">
          <a href="/index.html"
            ><img src="/assets/images/logo.webp" alt=""
          /></a>
        </figure>
      </div>
      <div class="menu-area clearfix" style="padding-right: 10%">
        <nav class="main-menu clearfix">
          <!--Keep This Empty / Menu will come through Javascript-->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- main-header end -->
